<ng-container *ngIf="isEmpty; else emptyCart">
  <app-cart-item
    *ngFor="let item of cartItems | orderBy: selectedSortField : isChecked; trackBy: trackByFn"
    [item]="item"
    (deleteItem)="onDeleteItem(item.id)"
    (quantityIncrease)="onQuantityIncrease(item.id)"
    (quantityDecrease)="onQuantityDecrease(item.id)"
  ></app-cart-item>
  <div>
    Total cost: <span [ngStyle]="{ 'font-weight': 'bold' }">{{ totalCost }}</span>
  </div>
  <div>
    Total quantity: <span [ngStyle]="{ 'font-weight': 'bold' }">{{ totalQuantity }}</span>
  </div>
  <button (click)="onRemoveAll()">Remove all from the cart</button>
  <select [(ngModel)]="selectedSortField">
    <option selected disabled>Sort by</option>
    <option value="name">Name</option>
    <option value="quantity">Quantity</option>
    <option value="price">Price</option>
  </select>
  <label>
    Change sort order
    <input type="checkbox" (change)="onCheckboxChange()" />
  </label>
</ng-container>
<ng-template #emptyCart>
  <p>Cart is empty</p>
</ng-template>
