<ng-container *ngIf="cartItems.length; else emptyCart">
  <ng-container *ngFor="let item of cartItems; trackBy: trackByFn">
    <app-cart-item
      [item]="item"
      (deleteItem)="onDeleteItem(item.id)"
      (quantityIncrease)="onQuantityIncrease(item.id)"
      (quantityDecrease)="onQuantityDecrease(item.id)"
    ></app-cart-item>
  </ng-container>
  <div>
    Total cost: <span [ngStyle]="{ 'font-weight': 'bold' }">{{ totalCost }}</span>
  </div>
  <div>
    Total quantity: <span [ngStyle]="{ 'font-weight': 'bold' }">{{ totalQuantity }}</span>
  </div>
</ng-container>
<ng-template #emptyCart>
  <p>Cart is empty</p>
</ng-template>
